.group-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  border: none;
}

.group-by-expander {
  border: none;
  cursor: pointer;
  text-align: right;
  background: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.metadata {
  width: 100%;
  margin-bottom: 1rem;
}

.md-option {
  max-width: 40%;
}

.md-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}