.center {
  vertical-align: middle !important;
  text-align: center;
}

.blue-header {
  background-color: #a3cfec;
}

.blue-cell {
  vertical-align: middle !important;
  background-color: #ecf2ff;
  cursor: default;
}

.red-header {
  background-color: #e2b6b3;
}

.red-cell {
  vertical-align: middle !important;
  background-color: #ffe8e7;
  cursor: default;
}

.img-wrapper{
  padding: 6px !important;
}

.loader-pos {
  width: 100px;
}

.loader-pick {
  width: 100px;
}

.loader-kda {
  width: 120px;
}

.loader-cs {
  width: 80px;
}

.loader-gold {
  width: 100px;
}

.loader-ban {
  width: 100px;
}

.center img {
  height: 2.6rem;
}

.edit {
  cursor: pointer !important;
}